body {
	width: 100%;
	padding:0;
	border:0;
	margin:0;
	font-size:1em;
	font-family: Courier, Times;
}

.hero {
	min-height: calc(100vh - 10vh);
	background-color: #f70d8a;
	padding-top:10vh;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
}

.titleZeroMobile {
		display:none;
		visibility: none;
	}

.titleZeroDesktop {
	float:right;
	margin-right:0.5em;
	background-color: #ffffff;
	color: #000000;
	font-size: 2em;
	padding: 0.5em;
	display:inline-flex;
}

.title {
	float:right;
	background-color: #000000;
	color: #ffffff;
	font-family: Courier, Times;
	font-size: 2em;
	padding: 0.5em;
	clear:right;
}

.plus {
	margin-top: 1em;
}

.more {
	background-color: #ffffff;
	color: #000000;
}

.footer {
	background-color: #f70d8a;
	height:8em;
	font-family: Courier, Times;
	display:none;
	clear:both;
}

.social {
	float:left;
	padding: 1em;
	margin-top:2em;
}

.social a {
	padding-right:1em;
	text-decoration: none;
}

.white a {
	color: #000000;
}

.black a {
	color: #ffffff;
}

.design {
	width: calc(30vw - 1.5em);
	display: block;
}

a svg:hover #facebook, a svg:hover #linkedin { 
  fill:#ffffff;
}

.copyright {
	float: right;
	padding: 1em;
	font-weight: bold;
}

@media screen and (max-width: 870px){
	.titleZeroDesktop {
		display:none;
		visibility: none;
	}

	.titleZeroMobile {
		float:right;
		background-color: #ffffff;
		color: #000000;
		font-family: Courier, Times;
		font-size: 2em;
		padding: 0.5em;
		display:inline-flex;
		margin-bottom:1em;
	}
}

@media screen and (max-width: 600px){

	.hero {
		min-height: calc(100vh - 1em);
		padding-left:1em;
		padding-right:1em;
		padding-top: 1em;
	}

	.section {
		min-height: calc(100vh - 2em);
		padding-top: 1em;
		padding-bottom:1em;
		padding-left:1em;
		padding-right:1em;
	}

	.titleZeroDesktop {
		display:none;
		visibility: none;
	}

	.titleZeroMobile {
		float:right;
		background-color: #ffffff;
		color: #000000;
		font-family: Courier, Times;
		font-size: 2em;
		padding: 0.5em;
		display:inline-flex;
		margin-bottom:1em;
	}
}

@media screen and (max-width: 350px){
	.titleZeroMobile {
		font-size: 1.5em;
	}

	.title {
		font-size: 1.5em;
	}
}