body {
	width: 100%;
	padding:0;
	border:0;
	margin:0;
	font-size:1em;
	font-family: Courier, Times;
}

.hero {
	height: calc(100vh - 15vh);
	min-height: 400px;
	background-color: #f70d8a;
	padding-top:15vh;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
}

.titleZeroMobile {
		display:none;
		visibility: none;
	}

.titleZeroDesktop {
	float:right;
	margin-right:0.5em;
	background-color: #ffffff;
	color: #000000;
	font-size: 2em;
	padding: 0.5em;
	display:inline-flex;
}

.title {
	float:right;
	background-color: #000000;
	color: #ffffff;
	font-family: Courier, Times;
	font-size: 2em;
	padding: 0.5em;
}

.plus {
	clear:right;
	margin-top: 1em;
}

.section {
	padding-top: 3em;
	padding-bottom:3em;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
	display: inline-block;
}

#wordy {
	min-height: calc(100vh - 6em);
	background-color: #000000;
}

#sketchy {
	min-height: calc(100vh - 6em);
	background-color: #ffffff;
}

h2 {
	font-size:2em;
	font-family: Courier, Times;
	font-weight: 800;
	padding:0.5em;
	margin-top:0em;
	margin-bottom:0em;
	background-color: #ff5db6;
	display:inline-block;
}

p, ul {
	font-size: 1.33333em;
	font-family: Courier, Times;
	line-height: 2em;
	padding:0.5em;
	margin-top:1em;
	margin-bottom:1em;
	color: #000000;
	background-color: #ffffff;
}

ul{
	clear:both;
	list-style-type: square;
	padding-left:2em;
}

.white {
	color: #000000;
	background-color: #ffffff;
}

.black {
	color: #ffffff;
	background-color: #000000;
}

.right {
	text-align: left;
	margin-top:0em;
	margin-bottom:0em;
	float:right;
}

.left {
	text-align: left;
	margin-top:0em;
	margin-bottom:0em;
	float:left;
}

.imgContainer {
	width:calc(30vw - 1.5em);
}

.afterSecond {
		margin-top: 1em;
	}

.footer {
	background-color: #f70d8a;
	height:8em;
	font-family: Courier, Times;
	display:block;
}

.social {
	float:left;
	padding: 1em;
	margin-top:2em;
}

.social a {
	padding-right:1em;
	text-decoration: none;
}

.white a {
	color: #000000;
}

.black a {
	color: #ffffff;
}

.design {
	width: calc(30vw - 1.5em);
	display: block;
}

a svg:hover #facebook, a svg:hover #linkedin { 
  fill:#ffffff;
}

.copyright {
	float: right;
	padding: 1em;
	font-weight: bold;
}

@media screen and (max-width: 600px){

	.hero {
		min-height: 550px;
		padding-left:1em;
		padding-right:1em;
	}

	.section {
		min-height: calc(100vh - 2em);
		padding-top: 1em;
		padding-bottom:1em;
		padding-left:1em;
		padding-right:1em;
	}

	.titleZeroDesktop {
		display:none;
		visibility: none;
	}

	.titleZeroMobile {
		float:right;
		background-color: #ffffff;
		color: #000000;
		font-family: Courier, Times;
		font-size: 2em;
		padding: 0.5em;
		display:inline-flex;
		margin-bottom:1em;
	}

	h2 {
		display: inline-flex;
	}

	.imgContainer {
		width:calc(100vw - 2.5em);
		clear:both;
	}

	.design {
	width:calc(100vw - 2.5em);
	display: block;
	}

	.second {
		margin-top: 1em;
	}

	.afterSecond {
		margin-top: 1em;
	}

}