div.Header {
	background-color: #ffffff;
	width: 100%;
	height: 3em;
	padding: 1em;
	opacity: 0.80;
	position: fixed;
	z-index: 999;
}

div.Welcome {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: #ffffff;
}

div.Section{
	background-color: #ffffff;
	width: 100%;
}

div.SectionBreak{
	background-color: #000000;
	width: 100%;
	height: 10vh;
}

h1{
	font-family: Futura;
	font-size: 3em;
	font-weight: 50;
	line-height: 4.5em;
	color: #404040;
	text-align: center;
}

p {
	font-family: Futura;
	font-size: 1em;
	font-weight: 50;
	line-height: 1.5em;
	color: #404040;
}

p.Welcome {
	font-family: Futura;
	font-size: 10em;
	font-weight: 50;
	line-height: 15em;
	color: #f7484e;
	text-align: center;
}

p.Intro {
	font-family: Futura;
	font-size: 1em;
	font-weight: 50;
	line-height: 1.5em;
	color: #404040;
	text-align: center;
}


body{
	margin: 0;
	width: 100%;	
}