body {
	width: 100%;
	padding:0;
	border:0;
	margin:0;
	background-color: #f70d8a;
	font-family: Courier, Times, serif;
	font-size: 1em;
	line-height: 2em;
}

div#hero {
	min-height: 100vh;
	background-color: #f70d8a;
	padding-top:10vh;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
	z-index:1;
}

div.section {
	min-height: 100vh;
	background-color: #ffffff;
	padding-top:10vh;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
	z-index:1;
}

div.track {
	float:right;
	background-color: #000000;
	color: #ffffff;
	font-size: 2em;
	padding: 0.5em;
	clear:right;
	margin-top: 1em;
}

div.track.main {
	background-color: #ffffff;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: #000000;
	margin-top: 0;
	clear:none;
}

div.track.main a {
	text-decoration: none !important;
	color: #000000;
}

h1 {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

h1:after {
	content: "";
	display: flex;
	height: 0.5em;
	vertical-align: bottom;
	width: 50%;
	border-top: 5px solid #f70d8a;
	margin: 0 auto;
	margin-top: 0.5em;
}

a.button {
	background-color: #000000;
	color: #ffffff;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	font-size: 1em;
	text-transform: uppercase;
	padding: 0.5em;
	border: 0;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-bottom: 1em;
	text-decoration: none !important;
	width: fit-content;
	width: -moz-fit-content;
}

a.button:hover {
	background-color: #f70d8a;
	color: #000000;
}

.footer {
	background-color: #ffffff;
	height:5em;
	font-family: Courier, Times, serif;
	display:inherit;
	clear:both;
}

.copyright {
	float: right;
	padding: 2em;
	font-weight: bold;
	display:inherit;
	font-size: 1em;
}

@media screen and (max-width: 650px){

	#hero {
		padding-top:5vh;
		padding-left:10vw;
		padding-right:10vw;
	}

	.track {
		font-size: 1.75em;
	}

	.section {
		min-height: calc(100vh - 2em);
		padding-top: 1em;
		padding-bottom:1em;
		padding-left:1em;
		padding-right:1em;
	}
}

@media screen and (max-width: 413px){

	.track {
		font-size: 1.5em;
	}
}