div.Header {
	background-color: #ffffff;
	width: 100%;
	height: 3em;
	padding: 1em;
	opacity: 0.80;
	position: fixed;
	z-index: 999;
}

div.Welcome {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 100%;
    text-align: center;
    background: #ffffff;
}

div.Section{
	background-color: #ffffff;
	width: 100%;
}

div.SectionBreak{
	background-color: #404040;
	width: 100%;
	height: 20vh;
}

h1{
	font-family: Futura;
	font-size: 3 em;
	font-weight: 50;
	line-height: 2.25em;
	color: #404040;
	text-align: center;
}

p {
	font-family: Futura;
	font-size: 1 em;
	font-weight: 50;
	line-height: 0.75em;
	color: #404040;
}

p.Intro {
	font-family: Futura;
	font-size: 1 em;
	font-weight: 50;
	line-height: 0.75em;
	color: #404040;
	text-align: center;
}

body{
	margin: 0;
	width: 100%;	
}