div.Header {
	color: #ffffff;
	width: 100%;
	height: 3em;
	padding: 1em;
	opacity: 0.80;
	position: fixed;
	z-index: 999;
}

div.Welcome {
    position: relative;
    overflow: hidden;
    height: 80vh;
    text-align: center;
    background: #ffffff;
}

p {
	font-family: Futura;
	font-size: 1 em;
	font-weight: 50;
	line-height: 0.75em;
	color: #404040;
}