body {
	width: 100%;
	padding:0;
	border:0;
	margin:0;
	font-size:1em;
}

#home {
	visibility: none;
}

#navbar {
	position: sticky;
	top:0;
	width: 100%;
	min-height: 4em;
	background: #000000;
	font-family: Verdana, Arial;
	border-bottom: 1px solid #e9e9e9;
}

#navbar div {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
	float: left;
}

#navbar div a {
	font-size: 1em;
	font-family: Verdana, Arial;
	color:#ffffff;
	line-height: 1em;
	text-align: center;
	font-weight: 800;
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-decoration: none;
}

#navbar div a:hover {
	background-color: #ffffff;
	color: #000000;
}

#navbar ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
    float:right;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	font-size: 1em;
	font-family: Verdana, Arial;
	color:#ffffff;
	line-height: 1em;
	text-align: center;
	font-weight: 800;
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-decoration: none;
}

#navbar ul li a:hover {
	background-color: #ffffff;
	color: #000000;
}

#navbar .clicker {
    display: none;
    float:right;
}

.hero {
	height: calc(100vh - 4em);
	min-height: 400px;
	background-color: #f70d8a;
	overflow:visible;
}

.titleOne {
	float:right;
	margin-right: calc(15vw + 1em);
	margin-top: 10vh;
	background-color: #000000;
	color: #ffffff;
	font-family: Courier, Times;
	font-size: 2em;
	padding: 0.5em;
}

.titleOnePlus {
	clear:right;
	float: right;
	margin-right: calc(15vw + 1em);
	margin-top: 1em;
	background-color: #000000;
	color: #ffffff;
	font-family: Courier, Times;
	font-size: 2em;
	padding: 0.5em;
}

.sectionOne {
	min-height: calc(100vh - 12em);
	background-color: #F5F5F6;
	padding-top: 6em;
	padding-bottom:6em;
	overflow: visible;
}

.sectionTwo {
	min-height: calc(100vh - 12em);
	background-color: #E1E2E1;
	padding-top: 6em;
	padding-bottom:6em;
}

.sectionThree {
	min-height: calc(100vh - 12em);
	background-color: #F5F5F6;
	padding-top: 6em;
	padding-bottom:6em;
}

.hwrapper {
	text-align: left;
}

.pwrapper {
	width:70vw;
	margin: 0 auto;
	display:block;
}

h2 {
	font-size:2em;
	font-family: Verdana, Arial;
	font-weight: 800;
	padding:0.5em;
	display: inline;
	margin:1.5em;
	margin-left: calc(15vw + 1em);
	background-color: #ff5db6
;
}

p {
	font-size: 1.33333em;
	font-family: Courier, Times;
	line-height: 2em;
	padding:0.5em;
	margin:1.5em;
	color: #000000;
	background-color: #ff5db6;
}

.footer {
	background-color: #E1E2E1;
	height:8em;
	font-family: Courier, Times;
	display:block;
}

.social {
	float:left;
	padding: 1em;
	margin-top:2em;
}

.social a {
	padding-right:1em;
	text-decoration: none;
}

a {
	color: #000000;
}

a svg:hover #facebook, a svg:hover #linkedin { 
  fill: #f70d8a;
}

.copyright {
	float: right;
	padding: 1em;
	font-weight: bold;
}

@media screen and (max-width: 600px){

	#navbar ul {
		clear: left;
		float: none;
	}

	#navbar ul li {
		float: none;
		border-top: 1px solid #ffffff;
	}


	.notClicked .anchor {
		display: none;
	}

	#navbar .clicker {
    	float: right;
    	display: block;
	}

	#navbar .clicker a {
    	text-decoration: none;
    	color: #ffffff;
    	font-weight: 800;
    	padding: 0.3em;
    	font-size:1em;
    	border: solid white 0.2em;
    	margin: 1em;
    	width: 1em;
    	font-size: 1em;
		line-height: 1em;
		text-align: center;
		display: block;
 	    float:right;
	}

	.clicked .anchor{
		display: block;
	}

	.hero {
		min-height: 400px;
	}

	.sectionOne , .sectionTwo , .sectionThree {
	min-height: calc(100vh - 2em);
	padding-top: 1em;
	padding-bottom:1em;
	}

	.titleOne {
		margin-right: 0.5em;
		margin-left: 0.5em;
		margin-top: 10vh;
	}

	.titleOnePlus {
		margin-right: 0.5em;
		margin-left: 0.5em;
	}

	.pwrapper {
		width:100vw;
	}

	h2 {
		margin-left:calc(0vw + 0.5em);
		display: inline-flex;
	}

	p {
		margin: 0.75em;
		margin-top:1em;
	}

}