div.Header {
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 3.5em;
	position: fixed;
	z-index: 999;
}

div.Welcome {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    text-align: center;
    z-index: 996;
    background-image: url(https://jlanssie.github.io/assets/WelcomeBW-Desktop.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

div.Menu {
	opacity: 0.9;
	width: 100%;
	height: 50vh;
	position: absolute;
	bottom: 30vh;
	z-index: 998;
}

div.Black {
	float:left;
	width:100vw;
	height: 50vh;
	background-color: #000000;
}

div.White {
	float:left;
	width:100vw;
	height: 50vh;
	background-color: #ffffff;
}

h1 {
	font-family: Futura;
	font-size: 3em;
	line-height: 4.5em;
	text-align: center;
}

h1.Black {
	color: #ffffff;
}

h1.White {
	color: #000000;
}

p {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
}

p.HeaderImage {
	padding: 1em;
	float:left; 
	margin: 0;
}

p.Header {
	font-family: Futura;
	color: #000000;
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	padding-right:4em;
}

p.Logo {
	font-family: Futura;
	color: #f70d8a;
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
}

p.Menu {
	font-family: Futura;
	color: #f70d8a;
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

p.NewPink {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
	text-align: center;
 	padding: 3em;
}

p.Black {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #ffffff;
	text-align: center;
 	padding: 3em;
}

p.White {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
	text-align: center;
 	padding: 3em;
}

body{
	margin: 0;
	width: 100%;	
}

img.Welcome {
	z-index: 997;
}

img.Header {
	width: 2em;
	height: 2em;
}

img.Logo {
	width: 30vh;
	height: 30vh;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}


a:visited {
	text-decoration: none;
}

a.Black {
	text-decoration: none;
	color: #ffffff;
}

a.White {
	text-decoration: none;
	color: #000000;
}

a.Menu {
	text-decoration: none;
	color: #ffffff;
}

@media only screen and (max-device-width: 480px) {

	div.Welcome {
    background-image: url(https://jlanssie.github.io/assets/WelcomeBW-Phone.jpg);
	}

}

@media only screen and (min-device-width:480px; max-device-width: 1024px) {

	div.Welcome {
    background-image: url(https://jlanssie.github.io/assets/WelcomeBW-Tablet.jpg);
	}

}