body {
	width: 100%;
	padding:0;
	border:0;
	margin:0;
	font-size:1em;
}

.hero {
	height: 100vh;
	min-height: 400px;
	background-color: #f70d8a;
	overflow:visible;
}

.titleZeroMobile {
		display:none;
		visibility: none;
	}

.titleZeroDesktop {
	float:right;
	margin-right: 1em;
	margin-top: 10vh;
	background-color: #ffffff;
	color: #000000;
	font-family: Courier, Times;
	font-size: 2em;
	padding: 0.5em;
	display:inline-flex;
}

.titleOne {
	float:right;
	margin-right: calc(15vw + 1em);
	margin-top: 10vh;
	background-color: #000000;
	color: #ffffff;
	font-family: Courier, Times;
	font-size: 2em;
	padding: 0.5em;
}

.titleOnePlus {
	clear:right;
	float: right;
	margin-right: calc(15vw + 1em);
	margin-top: 1em;
	background-color: #000000;
	color: #ffffff;
	font-family: Courier, Times;
	font-size: 2em;
	padding: 0.5em;
}

.sectionOne {
	min-height: calc(100vh - 12em);
	background-color: #F5F5F6;
	padding-top: 6em;
	padding-bottom:6em;
	overflow: visible;
}

.sectionTwo {
	min-height: calc(100vh - 12em);
	background-color: #E1E2E1;
	padding-top: 6em;
	padding-bottom:6em;
}

.sectionThree {
	min-height: calc(100vh - 12em);
	background-color: #F5F5F6;
	padding-top: 6em;
	padding-bottom:6em;
}

.hwrapper {
	text-align: left;
}

.pwrapper {
	width:70vw;
	margin: 0 auto;
	display:block;
}

h2 {
	font-size:2em;
	font-family: Verdana, Arial;
	font-weight: 800;
	padding:0.5em;
	display: inline;
	margin:1.5em;
	margin-left: calc(15vw + 1em);
	background-color: #ff5db6
;
}

p {
	font-size: 1.33333em;
	font-family: Courier, Times;
	line-height: 2em;
	padding:0.5em;
	margin:1.5em;
	color: #000000;
	background-color: #ff5db6;
}

.footer {
	background-color: #E1E2E1;
	height:8em;
	font-family: Courier, Times;
	display:block;
}

.social {
	float:left;
	padding: 1em;
	margin-top:2em;
}

.social a {
	padding-right:1em;
	text-decoration: none;
}

a {
	color: #000000;
}

a svg:hover #facebook, a svg:hover #linkedin { 
  fill: #f70d8a;
}

.copyright {
	float: right;
	padding: 1em;
	font-weight: bold;
}

.imageSlider {
	margin:2em;
	padding:0.5em;
	background-color:#ffffff;
	height:300px;
	overflow:hidden;
}

.imageSlider img {
	border-left:1em; 
	border-right: 1em;
	height:300px;
	float:left;
}


@media screen and (max-width: 600px){

	.hero {
		min-height: 400px;
	}

	.sectionOne , .sectionTwo , .sectionThree {
	min-height: calc(100vh - 2em);
	padding-top: 1em;
	padding-bottom:1em;
	}

	.titleZeroDesktop {
		display:none;
		visibility: none;
	}

	.titleZeroMobile {
		float:right;
		margin-right: 0.5em;
		margin-top: 10vh;
		background-color: #ffffff;
		color: #000000;
		font-family: Courier, Times;
		font-size: 2em;
		padding: 0.5em;
		display:inline-flex;
	}

	.titleOne {
		margin-right: 0.5em;
		margin-left: 0.5em;
		margin-top: 1em;
	}

	.titleOnePlus {
		margin-right: 0.5em;
		margin-left: 0.5em;
	}

	.pwrapper {
		width:100vw;
	}

	h2 {
		margin-left:calc(0vw + 0.5em);
		display: inline-flex;
	}

	p {
		margin: 0.75em;
		margin-top:1em;
	}

	.imageSlider {
		margin:0.75em;
	}

}