html {
  scroll-behavior: smooth;
}

body {
	padding:0;
	border:0;
	margin:0;
	width: 100%;
	background-color: #f70d8a;
	font-family: Courier, Times, serif;
	font-size: 1em;
	color: #1f1f1f;
	line-height: 2em;
}

div {
	padding:0;
	border: 0;
	margin: 0;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
}

h1:after {
	display: flex;
	margin: 0 auto;
	margin-top: 0.5em;
	border-top: 5px solid #f70d8a;
	height: 0.5em;
	width: 50%;
	vertical-align: bottom;
	content: "";
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
}

h3 { 
	text-align: center;
	font-size: 1em;
	line-height: 2em;
	color: inherit;
}

#hero {
	padding-top:10vh;
	padding-left:20vw;
	padding-right:20vw;
	height: 100vh;
	background-color: #f70d8a;
	overflow:visible;
	z-index:1;
}

.track {
	clear:right;
	float:right;
	margin-top: 1em;
	padding: 0.5em;
	background-color: #000000;
	font-size: 2em;
	color: #ffffff;
}

.track.main {
	clear:none;
	margin-top: 0;
	background-color: #ffffff;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	color: #000000;
}

.track.main a {
	text-decoration: none!important;
	color: #000000;
}

.trackBreak {
	clear:both;
	width: 100%;
	height: 10vh;
	background-color: #f70d8a;
}

.mainContainer {
	background-color: #ffffff;
}

.section {
	z-index:1;
	clear:both;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top:10vh;
	padding-left: 1em;
	padding-right: 1em;
	min-height: calc(100vh - 10vh);
	width: calc(650px - 2em);
	background-color: #ffffff;
	overflow:visible;
}

.sectionSeparator {
	clear: both;
	border-top: 15vh solid white;
	border-bottom: 1px dashed #f1f1f1;
	padding-bottom: 5vh; 
  	height: 1px;1;
	overflow: visible;
}

.subSectionBreak {
	clear: both;
	display: block;
	width: 100%;
	background-color: #ffffff;
}

#webdev {
	padding-bottom: 10vh;
}

a.btn {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
	border: 0;
	padding: 0.5em;
	width: fit-content;
	width: -moz-fit-content;
	background-color: #000000;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	font-size: 1em;
	color: #ffffff;
	letter-spacing: 1px;
}

a.btn:hover {
	background-color: #f70d8a;
	color: #000000;
}

.title {
	clear: both;
	border-top: 5vh solid #ffffff;
}

#words .subSectionWrapper {
	clear:left;
}

#words .subSectionWrapper img {
	float:left;
	margin: 0.5em;
	width: calc(100%/3);
}

#words .subSectionWrapper p {
	padding: 0.5em;
	padding-top: 0em;
}

#webdev .subSectionWrapper {
	padding: 1em;
	margin-top: 5vh;
	margin-bottom: 5vh;
	background: #f1f1f1;
}

.showcaseTitle {
	margin-top: 5vh;;
	padding: 1em;
	background: #000000;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	color: #ffffff;
}

.showcase {
	clear: both;
	display: block;
	width: 100%;
}

.showcase a { 
	text-decoration: none;
	color: #ffffff;
}

.showcase a:hover {
	color: #000000;
}

.showcaseElement {
	float:left;
	border: 1px solid #1f1f1f;
	padding: 1em;
	background-color: #000000;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	color: inherit;
	letter-spacing: 1px;
}

#words .showcaseElement {
	width: calc(100%/3 - 2px - 2em);
	height: calc((650px - 2em)/3 - 2px - 2em);
}

#webdev .showcaseElement {
	width: calc(100% - 2px - 2em);
}

.showcaseElement:hover {
	background-color: #f70d8a;
}

.showcaseElement p { 
	text-align: center;
	font-size: .75em;
	line-height: 1.5em;
	color: inherit;
}

footer {
	clear:both;
	display:inherit;
	height:5em;
	background-color: #f70d8a;
}

.social {
	float: left;
	padding: 2em;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	font-size: 1em;
}

.social a img {
	vertical-align: middle;
}

.copyright {
	float: right;
	padding: 2em;
	text-transform: uppercase;
	text-align: right;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	font-size: 1em;
}

@media screen and (max-width: 620px){

	#hero {
		padding-top:5vh;
		padding-left:10vw;
		padding-right:10vw;
	}

	.track {
		font-size: 1.5em;
	}

	.section {
		min-height: 100vh;
		width: calc(100% - 2em);
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.25em;
	}

	#words .subSectionWrapper img {
		float:none;
		display: block;
		margin: 0 auto;
	}

	#words .showcaseElement {
		width: calc(100%/2 - 2px - 2em);
		height: calc((100vw - 2em)/2 - 2px - 2em);
	}

	#webdev .showcaseElement {
		width: calc(100% - 2px - 2em);
	}
}

@media screen and (max-width: 413px){

	.track {
		float: none;
		margin: 0 auto;
		margin-top: 0px;margin-top: 1em;
		width: fit-content;
		width: -moz-fit-content;
		text-align: center;
		font-size: 1.5em;
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.25em;
	}

	#words .subSectionWrapper img {
		float:none;
		display: block;
		margin: 0 auto;
	}

	.social, .copyright {
		float: none;
		padding-right: 1em;
		padding-left: 1em;
		padding-top: 1em;
		padding-bottom: 0;
		text-align: center;
		font-size: 1em;
	}
}