div.Header {
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 3.5em;
	border: 2em;
	position: fixed;
	z-index: 999;
}

div.Menu {
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 3.5em;
	border: 2em;
	z-index: 999;
	height: 3.5em;
	position: relative;
	bottom: -3.5em;
}


div.Welcome {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: #ffffff;
    z-index: 899;
}

div.Wrapper {
	width: 100vw;
	height: 50vh;
	clear: left;
}

div.Black {
	float:left;
	width:50vw;
	height: 100%;
	background-color: #000000;

}

div.White {
	float:left;
	width:50vw;
	height: 100%;
	background-color: #ffffff;

}

h1 {
	font-family: Futura;
	font-size: 3em;
	line-height: 4.5em;
	text-align: center;
}

h1.Black {
	color: #ffffff;
}

h1.White {
	color: #000000;
}

p {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
}

p.HeaderImage {
	padding: 1em;
	float:left; 
	margin: 0;
}

p.Header {
	font-family: Futura;
	color: #000000;
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	padding-right:4em;
}

p.Menu {
	font-family: Futura;
	color: #f70d8a;
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

p.NewPink {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
	text-align: center;
 	padding: 3em;
}

p.Black {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #ffffff;
	text-align: center;
 	padding: 3em;
}

p.White {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
	text-align: center;
 	padding: 3em;
}

body{
	margin: 0;
	width: 100%;	
}

img.Welcome {
	height:20vh; 
	margin-top:40vh; 
	margin-bottom:40vh;
}

img.Header {
	width: 2em;
	height: 2em;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}


a:visited {
	text-decoration: none;
}

a.Black {
	text-decoration: none;
	color: #ffffff;
}

a.White {
	text-decoration: none;
	color: #000000;
}

a.Menu {
	text-decoration: none;
	color: #f70d8a;
}

@media only screen and (max-device-width: 480px) {

	}