body {
	width: 100%;
	padding:0;
	border:0;
	margin:0;
	background-color: #f70d8a;
	font-family: Courier, Times;
	font-size: 1em;
}

.switchOFF {
	display:none;
}

.switchON {
	display:block;
}

#hero {
	min-height: calc(100vh - 10vh);
	background-color: #f70d8a;
	padding-top:10vh;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
	z-index:1;
}

.titleZeroMobile {
		display:none;
	}

.titleZeroDesktop {
	float:right;
	margin-right:0.5em;
	background-color: #ffffff;
	color: #000000;
	font-size: 2em;
	padding: 0.5em;
	display:inline-flex;
}

.title {
	float:right;
	background-color: #000000;
	color: #ffffff;
	font-size: 2em;
	padding: 0.5em;
	clear:right;
}

.plus {
	margin-top: 1em;
}

.more {
	background-color: #ffffff;
	color: #000000;
}

#about {
	background-color: #ffffff;
	z-index:100;
}

.content {
	min-height: calc(100vh - 10vh - 6em);
	background-color: #ffffff;
	padding-top:10vh;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
	z-index:1;
}

.intro{
	background-color: #000000;
	color:#ffffff;
	margin-right:0;
}

.footer {
	background-color: #ffffff;
	height:5em;
	font-family: Courier, Times;
	display:inherit;
	clear:both;
}

.copyright {
	float: right;
	padding: 2em;
	font-weight: bold;
	display:inherit;
	font-size: 1em;
}

.social {
		clear: both;
	    font-size: 1.5em;
	    padding: 0.5em;
}

.social a {
	color:#000000;
}

.first {
	padding-top:2em;
}

@media screen and (max-width: 870px){
	.titleZeroDesktop {
		display:none;
	}

	.titleZeroMobile {
		float:right;
		background-color: #ffffff;
		color: #000000;
		font-family: Courier, Times;
		font-size: 2em;
		padding: 0.5em;
		display:inline-flex;
		margin-bottom:1em;
	}

	.intro{
	background-color: #000000;
	color:#ffffff;
	margin-right:0;
}
}

@media screen and (max-width: 600px){

	#hero {
		min-height: 650px;
		padding-left:1em;
		padding-right:1em;
		padding-top: 1em;
	}

	.content {
		min-height: calc(100vh - 7em);
		padding-left:1em;
		padding-right:1em;
		padding-top: 1em;
	}

	.section {
		min-height: calc(100vh - 2em);
		padding-top: 1em;
		padding-bottom:1em;
		padding-left:1em;
		padding-right:1em;
	}

	.titleZeroDesktop {
		display:none;
	}

	.titleZeroMobile {
		float:right;
		background-color: #ffffff;
		color: #000000;
		font-family: Courier, Times;
		font-size: 2em;
		padding: 0.5em;
		display:inline-flex;
		margin-bottom:1em;
	}

	.intro{
		background-color: #000000;
		color:#ffffff;
		margin-right:0;
	}
}

@media screen and (max-width: 350px){
	#hero {
		min-height: 500px;
	}

	.content {
		min-height: calc(100vh - 7em);
	}

	.titleZeroMobile {
		font-size: 1.5em;
	}

	.title {
		font-size: 1.5em;
	}

	.intro{
		background-color: #000000;
		color:#ffffff;
		margin-right:0;
	}
}