div.Header {
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 3.5em;
	position: fixed;
	z-index: 999;
	border: 2em;
}


div.Welcome {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: #ffffff;
}

div.Section{
	background-color: #ffffff;
	width: 50%;
	padding-left: 25%;
	padding-right: 25%; 
}

div.SectionBreak{
	background-color: #000000;
	width: 100%;
	height: 10vh;
}

h1{
	font-family: Futura;
	font-size: 3em;
	font-weight: 50;
	line-height: 4.5em;
	color: #404040;
	text-align: center;
}

p {
	font-family: Futura;
	font-size: 1em;
	font-weight: 50;
	line-height: 1.5em;
	color: #404040;
}

p.Header {
	font-family: Futura;
	color: #f70d8a;
	font-size: 1em;
	font-weight: 50;
	line-height: 1.5em;
	text-align: center;
}

p.Welcome {
	font-family: Futura;
	font-size: 10em;
	color: #404040;
	text-align: center;
}

p.Intro {
	font-family: Futura;
	font-size: 1em;
	font-weight: 50;
	line-height: 1.5em;
	color: #404040;
	text-align: center;
	margin-bottom: 2em;
}

body{
	margin: 0;
	width: 100%;	
}