body {
	width: 100%;
	padding:0;
	border:0;
	margin:0;
	background-color: #f70d8a;
	font-family: Courier, Times, serif;
	font-size: 1em;
	line-height: 2em;
}

div {
	padding:0;
	border: 0;
	margin: 0;
}

html {
  scroll-behavior: smooth;
}

#hero {
	height: 100vh;
	background-color: #f70d8a;
	padding-top:10vh;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
	z-index:1;
}

.bodyWrapper {
	background-color: #ffffff;
}

.separator {
	background: repeating-linear-gradient(
	  45deg,
	  #ffffff,
	  #ffffff 10px,
	  #000000 10px,
	  #000000 20px
	);
	width: 100%;
	height: 5vh;
	overflow: visible;
	clear: both;
	border-top: 15vh solid white; 
	border-bottom: 5vh solid white; 
}

.section {
	min-height: 100vh;
	background-color: #ffffff;
	padding-top:10vh;
	padding-left:20vw;
	padding-right:20vw;
	overflow:visible;
	z-index:1;
	clear:both;
}

#webdev {
	padding-bottom: 10vh;
}

.track {
	float:right;
	background-color: #000000;
	color: #ffffff;
	font-size: 2em;
	padding: 0.5em;
	clear:right;
	margin-top: 1em;
}

.track.main {
	background-color: #ffffff;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: #000000;
	margin-top: 0;
	clear:none;
}

.track.main a {
	text-decoration: none !important;
	color: #000000;
}

.break {
	height: 10vh;
	background-color: #f70d8a;
	width: 100%;
	clear:both;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

h1:after {
	content: "";
	display: flex;
	height: 0.5em;
	vertical-align: bottom;
	width: 50%;
	border-top: 5px solid #f70d8a;
	margin: 0 auto;
	margin-top: 0.5em;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

a.btn {
	background-color: #000000;
	color: #ffffff;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	font-size: 1em;
	text-transform: uppercase;
	padding: 0.5em;
	border: 0;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-bottom: 1em;
	text-decoration: none !important;
	width: fit-content;
	width: -moz-fit-content;
}

a.btn:hover {
	background-color: #f70d8a;
	color: #000000;
}

.showcaseWriter {
	clear:left;
}

.showcaseWriter img {
	float:left;
	width: 25%;
	margin: 0.5em;
}

.showcaseWriter p {
	padding: 0.5em;
	padding-top: 0em;
}

.showcaseEditor {
	clear: left;
	position: relative;
	display: block;
	padding:0.5em;
}

.showcaseEditorWrapper {
	height: 25vh;
	width: 25vh;
}

.showcaseEditorImg {
	height: 25vh;
	display: block;
	margin: 0 auto;
	opacity: 100;
}

.showcaseEditorImg:hover {
	
}

.showcaseEditorP {
	height: 25vh;
	width: 25vh;
	opacity:0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	color:#ffffff;
	position: absolute;
}

.showcaseEditorP:hover {
	opacity:100;
	background-color:rgba(0, 0, 0, 0.25);
}

.languages {
	background: #f1f1f1;
	padding: 1em;
}

.footer {
	background-color: #ffffff;
	height:5em;
	display:inherit;
	clear:both;
}

.social {
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 2em;
	font-weight: 800;
	font-size: 1em;
	float: left;
}

.copyright {
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 2em;
	font-weight: 800;
	font-size: 1em;
	float: right;
	text-align: right;
}

.social-btn {
	vertical-align: middle;
}

@media screen and (max-width: 650px){

	#hero {
		padding-top:5vh;
		padding-left:10vw;
		padding-right:10vw;
	}

	.track {
		font-size: 1.5em;
	}

	.showcaseWriter img {
		float:none;
		margin: 0 auto;
		display: block;
	}


	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.25em;
	}

	.section {
		min-height: calc(100vh - 2em);
		padding-top: 1em;
		padding-bottom:1em;
		padding-left:1em;
		padding-right:1em;
	}
}

@media screen and (max-width: 413px){

	.track {
		font-size: 1.5em;
		float: none;
		text-align: center;
		width: fit-content;
		width: -moz-fit-content;
		margin: 0 auto;
		margin-top: 0px;margin-top: 1em;
	}

	.showcaseWriter img {
		float:none;
		margin: 0 auto;
		display: block;
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.25em;
	}

	.social, .copyright {
		float: none;
		text-align: center;
		font-size: 1em;
		padding-right: 1em;
		padding-left: 1em;
		padding-top: 1em;
		padding-bottom: 0;
	}
}