div.Header {
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 3.5em;
	position: fixed;
	z-index: 999;
	border: 2em;
}


div.Welcome {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: #ffffff;
}

div.BlackNewPinkWrapper {
	width: 100vw;
	height: 50vh;
	clear: left;
}

div.Black {
	float:left;
	width:50vw;
	height: 100%;
	background-color: #000000;

}

div.NewPink {
	float:left;
	width: 50vw;
	height: 100%;
	background-color: #f70d8a;
}

h1{
	font-family: Futura;
	font-size: 3em;
	line-height: 4.5em;
	text-align: center;
}

p {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
}

p.Header {
	font-family: Futura;
	color: #f70d8a;
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

p.IntroBox {
	font-family: Futura;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
	text-align: center;
 	padding: 3em;
}


body{
	margin: 0;
	width: 100%;	
}

img#Logo {

	height:50vh; 
	margin-top:25vh; 
	margin-bottom:25vh;
}

a {
	text-decoration: none;
	color: #000000;
}

a.Header {
	text-decoration: none;
	color: #f70d8a;
}

@media only screen and (max-device-width: 480px) {

	}